/* Grid */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".header .header"
      ".section-promo"
      ".form"
      ".copyright-info";
  }

  /* Header */

  .header {
     /* background: #aa8888; */
      grid-area: ".header";
      background-image: linear-gradient(#6e375ca1, black);
  }

  /* Burger */

.burger {
    display: block;
    position: absolute;
    right: .5em;;
    top: .75em;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.4s ease;
  }

  /* Promo Section  */
  .section-promo {
      background: #88aaa4;
      grid-area: ".section-promo";
  }

  /* Form  */

  .form {
      background: #bbbb77;
      grid-area: ".form";
  }
  .copyright-info {
      background: #7cb17c;
      grid-area: ".copyright-info";
  }

  


