/* Basic Setup */

/* Main Purple Color: 6e375ca1 */

html {
  background-color: #fff;
  color: rgb(51, 51, 51);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  width: 100%;
}


/* Grid */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr 1fr .1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".header .header"
    ".section-promo"
    ".form"
    ".copyright-info";
}

/* Header */

.header {
  /* background: #aa8888; */
   grid-area: ".header";
   background-image: linear-gradient(#6e375ca1, rgb(32, 32, 32));
}

/* Logo */
.hero-text-box img {
position: absolute;
left: 12px;
top: 20px;
width: 50px;
height: 0px;
animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.artist-name {
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.hero-text-box span {
  color: white;
}

nav ul {
  display: none;
}

/* Burger */

.burger {
 display: block;
 position: absolute;
 right: .5em;;
 top: 1em;
 cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-color: #fff;
margin: 5px;
transition: all 0.4s ease;
}

.nav-links {
 position: absolute;
 top: 5vh;
 right: 0px;
 height: 62vh;
 width: 8%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #b48da77c;
 transform: translateY(-135%);
 transition: transform 0.4s ease-in;
 list-style: none;
 padding: 1rem;
 border-radius: 10px;
 justify-content: space-around;
    }

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: color 250ms ease-in-out;
  margin-top: 7.5px;
    }

.nav-links a:hover {
  color: black;
}
   
.nav-active {
    transform: translateY(0%);
  }
  
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
     }
.toggle .line2 {
    opacity: 0;
     }
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
     }
  
/* Promo Section  */
.promo-section {      
  background-image: linear-gradient(rgb(32, 32, 32), #6e375ca1);
  grid-area: ".section-promo";
}

.promo-section img {
  width: 60%;
  height: auto;
  display: block;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
}

.promo-section-text {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 90%;
  text-transform: uppercase;
}

.promo-section-click {
  color: #fff;
  transition: all .5s ease-in-out;
  border-style: solid;
  border-width: thin;
  border-color:#fff;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 2px;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
  text-align: center;
}

.promo-section-click:hover {
  background-color: #fff;
  color:#6e375ca1;
}


/* Form  */
.form {
  background-image: linear-gradient(#6e375ca1, rgb(32, 32, 32));
  grid-area: ".form";
}

.form h3 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 90%;
  text-transform: uppercase;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: inherit;
  border-style: solid;
  border-width: thin;
  border-color:#fff;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

::placeholder {
  color: white;
  font-weight: 300;
}

:focus {
  outline: 0;
}

.submit {
  color: #fff;
  transition: all .5s ease-in-out;
  border-style: solid;
  border-width: thin;
  border-color:#fff;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 2px;
  display: block;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 1rem;
  text-align: center;
  background-color: inherit;
  font-weight: 300;
  
}

.submit:hover {
  background-color: #fff;
  color:#6e375ca1;
}


/* Footer */
.footer {
background-color: rgb(32, 32, 32);
grid-area: ".copyright-info";
display: flex;
justify-content: center;
align-items: center;
}

.copyright-info {
  text-transform: uppercase;
  text-align: center;
  font-size: 40%;
  color:#fff;
}

















































