html {
  background-color: #000;
  color: rgb(51, 51, 51);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  width: 100%;
}

/* Grid */

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2.5fr 1fr .1fr;
  gap: 0px 0px;
  grid-template-areas:
    ".header .header"
    ".section-promo"
    ".form"
    ".copyright-info";
}

/* Header */

.header {
  grid-area: ".header";
  background-color: #b784a7;
}

/* Logo */
.hero-text-box img {
  position: absolute;
  left: 12px;
  top: 20px;
  width: 50px;
  height: 0px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.artist-name {
  text-align: center;
  color: #000;
  font-weight: 300;
}

.hero-text-box span { color: #000; }

nav ul { display: none; }

/* Burger */

.burger {
 display: block;
 position: absolute;
 right: .5em;;
 top: 1em;
 cursor: pointer;
}

.burger div {
width: 25px;
height: 3px;
background-color: #000;
margin: 5px;
transition: all 0.4s ease;
}

.nav-links {
 position: absolute;
 top: 16vh;
 right: 0px;
 height: 66vh;
 width: 8%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #b784a7;
 border: solid 1px black;
 border-right: none;
 transform: translateY(-135%);
 transition: transform 0.4s ease-in;
 list-style: none;
 padding: 1rem;
 justify-content: space-around;
    }

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 17px;
  transition: color 250ms ease-in-out;
  margin-top: 7.5px;
    }

.nav-links a:hover { color: black; }
   
.nav-active { transform: translateY(-15%); }
  
.toggle .line1 { transform: rotate(-45deg) translate(-5px, 6px); }
.toggle .line2 { opacity: 0; }
.toggle .line3 { transform: rotate(45deg) translate(-5px, -6px); }
  

/* Promo Section  */
.promo-section {      
  background-color: #b784a7;
  grid-area: ".section-promo";
}

.promo-section img {
  width: 400px;
  height: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.promo-section img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

.promo-section-text {
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 90%;
  text-transform: uppercase;
}

.promo-section-click {
  color: #000;
  transition: all .25s ease-in-out;
  border-style: solid;
  border-width: thin;
  border-color: black;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 2px;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2rem;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.promo-section-click:hover {
  background-color: #d0a1c1;
  color:#000;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


/* Form  */
.form {
  background-color: #b784a7;
  grid-area: ".form";
}

.form h3 {
  color: #000;
  text-align: center;
  font-weight: 300;
  font-size: 90%;
  text-transform: uppercase;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: inherit;
  border-style: solid;
  border-width: thin;
  border-color:#000;
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

::placeholder {
  color: #000;
  font-weight: 300;
}

:focus { outline: 0; }

.submit {
  color: #000;
  transition: all .25s ease-in-out;
  border-style: solid;
  border-width: thin;
  border-color:#000;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 2px;
  display: block;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 1rem;
  text-align: center;
  background-color: inherit;
  font-weight: 300;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.submit:hover {
  background-color: #d0a1c1;
  color:#000;
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


/* Footer */
.footer {
  background-color: rgb(32, 32, 32);
  grid-area: ".copyright-info";
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright-info {
  text-transform: uppercase;
  text-align: center;
  font-size: 40%;
  color: #fff;
}